@using System.Reflection
@using MYVCApp.Helpers
@model IEnumerable<object>;
@{
    ViewData["title"] = String.Format("Complex Query {0} - Result", TempData["QueryNumber"]);
    PropertyInfo[] properties = Model.GetType().GetGenericArguments()[0].GetProperties();
}
<h1>@String.Format("Complex Query {0} - Result", TempData["QueryNumber"])</h1>
<hr />

<h4>Description</h4>
<p>@TempData["Query"]</p>

<partial name="TempDataPartial"></partial>

@if(Model.Count() != 0)
{
    <h4>Data</h4>
    <table class="table">
        <thead>
            <tr>
                @foreach(PropertyInfo p in Model.GetType().GetGenericArguments()[0].GetProperties())
                {
                    <th>@p.Name</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach(object o in Model)
            {
                <tr>
                    @foreach(PropertyInfo p in properties)
                    {
                        var propertyValue = @o.GetType().GetProperty(p.Name).GetValue(o);

                        if (propertyValue == null)
                        {
                            <td><span class="badge bg-secondary">NULL</span></td>
                        }
                        else
                        {
                            <td>@propertyValue</td>
                        }
                    }
                </tr>
            }
        </tbody>
    </table>
}