@model MYVCApp.Models.Teammember

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Teammember</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Role)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Role)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AssignmentDateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AssignmentDateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CmnFkNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CmnFkNavigation.Cmn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeamFormationIdFkNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeamFormationIdFkNavigation.Id)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
