@model IEnumerable<MYVCApp.Models.Teammember>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssignmentDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CmnFkNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeamFormationIdFkNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Role)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssignmentDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CmnFkNavigation.Cmn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TeamFormationIdFkNavigation.Id)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
