@model IEnumerable<MYVCApp.Models.Locationphone>

@{
    ViewData["Title"] = "Index";
}

<h1>LocationPhones - List</h1>

<partial name="TempDataPartial"></partial>

<p>
    <a asp-action="Create" asp-controller="Locationphones">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Location</th>
            <th>PhoneNumber</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.LocationIdFk</td>
                <td>@item.PhoneNumber</td>
                <td>
                    <a asp-controller="Locationphones" asp-action="details" asp-route-location="@item.LocationIdFk" asp-route-phone="@item.PhoneNumber">Details</a>
                    <a asp-controller="Locationphones" asp-action="delete" asp-route-location="@item.LocationIdFk" asp-route-phone="@item.PhoneNumber">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>