@model IEnumerable<MYVCApp.Models.Logemail>

@{
    ViewData["Title"] = "Index";
}

<h1>LogEmails - List</h1>

<partial name="TempDataPartial"></partial>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Recipient)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeliveryDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Body)
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Recipient)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeliveryDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Body)
            </td>
            <td>
                <a asp-controller="Logemails" asp-action="details" asp-route-recipient="@item.Recipient" asp-route-ddt="@item.DeliveryDateTime">Details</a>
                <a asp-controller="Logemails" asp-action="edit" asp-route-recipient="@item.Recipient" asp-route-ddt="@item.DeliveryDateTime">Edit</a>
                <a asp-controller="Logemails" asp-action="delete" asp-route-recipient="@item.Recipient" asp-route-ddt="@item.DeliveryDateTime">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
